@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  display: flex;
  overflow: auto;
  overflow-x:'hidden';
  animation-duration: 0.5s;
  transition: .5s;
}

#h_navbar{
  position: sticky;
  margin-top: 2px;
  top: 0px;
}

* {
  transition: 0.3s;
}

a.router-link-exact-active {
  color: #00c93c;
  border-left:4px solid #00c93c;
  background: #00ad1d31;
  border-radius: 0px 10px 10px 0px;
  transform: scale(1.1);
}
.bg-green-trsp{
  background: #00ad1d31;
}
a{ 
  border-left:4px solid #00c93c00;
}
a:hover{  
  transform: scale(1.05);
}
.bg-dark {
  background: rgb(26, 25, 25);
}
.text-dark1 {
  color: rgb(255, 255, 255);
}
.bg_h_nav_white {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.108);
}
::-webkit-scrollbar{
  width: 7px;
}
::-webkit-scrollbar:hover{
  width: 10px;
}

::-webkit-scrollbar-track{
  background: #00ad1d31;
}  

::-webkit-scrollbar-thumb{
  border-radius: 5px;
  background: slategray;
}
::-webkit-scrollbar-thumb:hover{ 
  cursor: pointer;
  background: rgb(133, 133, 133);
}


/* Style de circle */
.skill-container .skill {
  position: relative; 
}

.skill-container .skill .outer {
  height: 150px;
  width: 150px;
  border-radius: 50%;
  padding: 20px; 
}

.skill-container .skill .outer .inner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 120px;
  width: 120px;
  border-radius: 50%;  
}

.skill-container .skill .outer .inner .number {
  font-weight: 800; 
}


.skill-container .skill:nth-child(1) .outer .inner .number {
  color: #ffffff;
}

.skill-container .skill:nth-child(2) .outer .inner .number {
  color: #ffffff;
}

.skill-container .skill:nth-child(3) .outer .inner .number {
  color: #ffffff
}
.skill-container .skill:nth-child(4) .outer .inner .number {
  color: #ffffff
}

circle {
  fill: none;
  stroke-width: 6px;
  stroke-dasharray: 445;
  stroke-dashoffset: 445;
  transition: 2s linear;
}

svg {
  position: absolute;
  top: 0;
  left: 0;
}

.skill-container .skill:nth-child(1) circle {
  stroke: #ffffff;
}

.skill-container .skill:nth-child(2) circle {
  stroke: #ffffff;
}

.skill-container .skill:nth-child(3) circle {
  stroke: #ffffff;
}
.skill-container .skill:nth-child(4) circle {
  stroke: #ffffff;
}